node_modules/
.env
.env.*
.DS_Store
*.log
proxy/_check.js

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Generated plugin registrants
**/generated_plugin_registrant.cc
**/generated_plugin_registrant.h
**/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift